<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Sudoku</title>
        <link rel="stylesheet" th:href="@{/styles.css}">
        <script>
            //to handle input
            function cellInput(event, form) {
                event.preventDefault(); //only character 1-9 can be input
                const num = event.key;
                if (num >= '1' && num <= '9') {
                    event.target.textContent = num;
                    form.querySelector('input[name="value"]').value = num;
                    form.submit();
                } else if (num == 'Backspace' || num == 'Delete') {
                    event.target.textContent = '';
                    form.querySelector('input[name="value"]').value = '0';
                    form.submit();
                }
            }
        </script>
    </head>

    <body th:class="${complete} ? 'puzzle-complete' : ''">
        <div class = "container">
            <h1>Sudoku</h1>
            <a href="/newGame" class="button">New Game</a>
            <table id="sudoku-table">
                <tr th:each="row : ${#numbers.sequence(0, 8)}">
                    <td th:each="col : ${#numbers.sequence(0, 8)}"
                        th:class="${original[row][col] > 0} ? 'original' : 'editable'">
                        <span th:if="${original[row][col] > 0}"
                              th:text="${current[row][col]}"></span>

                        <form th:if="${original[row][col] == 0}"
                            action="/makemove" method="post">
                            <input type="hidden" name="row" th:value="${row}">
                            <input type="hidden" name="col" th:value="${col}">
                            <input type="hidden" name="value" value="0">

                            <input type="text" maxlength="1" class="input-cell"
                                   onkeydown="cellInput(event, this.form)"
                                   th:value="${current[row][col] > 0 ? current[row][col] : ''}"></span>
                        </form>
                    </td>
                </tr>
            </table>
            <div th:if="${complete}" class="congrats">
                <h2>Congratulations! You finished the puzzle :)</h2>
            </div>
            <div th:if="${incorrect}" class="incorrect">
                <h2>The solution is not correct :(</h2>
            </div>
        </div>
    </body>
</html>