body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.container{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
h1{
    margin-bottom: 20px;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #000080;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
#sudoku-table{
    border-collapse: collapse;
    margin: 0 auto;
    border: 3px solid black;
}
#sudoku-table td{
    width: 45px;
    height: 45px;
    text-align: center;
    border: 1px solid gray;
    font-size: 20px;
}
#sudoku-table tr:nth-child(3n) td{
    border-bottom: 2px solid black;
}
#sudoku-table td:nth-child(3n){
    border-right: 2px solid black;
}
.original{
    background-color: #e6e6e6;
    font-weight: bold;
}
.editable{
    background-color: white;
}
.input-cell{
    width: 45px;
    height: 45px;
    border: none;
    text-align: center;
    font-size: 20px;
    outline: none;
    caret-color: #d9f0ff;
}
.input-cell:focus{
    background-color: #d9f0ff;
}
.congrats{
    color: green;
    margin-top: 20px;
}
.incorrect{
    color: red;
    margin-top: 20px;
}
